* {
    padding: 0%;
    margin: 0%;
    font-family: 'Protest Revolution', sans-serif;
    text-transform: uppercase;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(98, 10, 10), purple);
}

.new-game {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

}

.main-section {
    height: 60vh;
    width: 60vw;
    display: flex;
    position: relative;
}

.player0 {
    position: relative;
    background: rgba(93, 116, 121, 0.618);
    display: flex;
    flex: 1 1 20rem;
    align-items: center;
    flex-direction: column;
}

.currentscore-style {
    height: 20%;
    width: 60%;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    background: #911455;
    position: absolute;
    bottom: 4rem;
}



.style {
    position: absolute;
    bottom: 14px;
}

.player1 {
    position: relative;
    display: flex;
    background: rgba(93, 116, 121, 0.618);

    flex: 1 1 20rem;
    align-items: center;
    flex-direction: column;
}



.roll {
    border-radius: 12px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.btn {

    height: 1.5rem;
    width: 6rem;
    font-size: 20px;
    font-weight: 800;
    background: rgb(47, 168, 255);
    border: none;
    border-radius: 12px;


}

.hold {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}


.score {
    height: 2rem;
    width: 4rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 47, 234);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.hidden {
    display: none;
}

.active--player {
    background: rgba(102, 70, 97, 0.721);
}

.win {

    background: #2a3743;
    background: #050505;
    color: #b5bc22;

}

.winning0,
.winning1 {
    display: none;
}

.rules {
    min-height: 30vh;
    width: 50vh;
    background: #756969;
}

p {
    font-size: 13px;
    font-weight: 800;
}